<article>
    <header>
        <div>
            <img src="/assets/images/article.jpg" alt="">
        </div>
        <h2>C'est un article</h2>
    </header>
    <main>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mauris turpis, viverra non tempor ut, volutpat sit amet diam. Sed pellentesque, justo eu placerat finibus, mi dui convallis diam, ut commodo sem magna nec nisi. Nunc efficitur et metus id pulvinar. Sed a erat malesuada, aliquam nunc id, vehicula augue. Nullam ac hendrerit urna, sodales fringilla turpis. Donec gravida justo sed euismod euismod. Nulla a metus consectetur, vulputate arcu finibus, tempus nunc. Quisque aliquet dui vitae blandit suscipit. Integer aliquam, neque ac ultrices ullamcorper, nisl ipsum porttitor dui, sed aliquam ante leo fermentum nibh. Nam eleifend congue nunc, non varius ex porta et. Maecenas vitae turpis est.

    </main>

    <footer>
        <span>Copyright by - Dominique Lung - 2018-2019</span>
    </footer>
</article>