$couleur : #3E3E3E;

main {
    position: fixed;
    top: 27px;
    left: 251px;
    background: $couleur;
    -webkit-box-shadow: inset 7px 17px 34px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 7px 17px 34px 4px rgba(0,0,0,0.75);
    box-shadow: inset 7px 17px 34px 4px rgba(0,0,0,0.75);
    height : 400px;
    width : 400px;

    h2 {
        color: #fff;
    }

    form {
        text-align: right;
        margin-top: 10px;
    }
    input[type="submit"] {
        display: inline-block;
        margin-top: 10px;
        

    }
}